#index_body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
    background-color: #383838;
}
:tool{
    --color_base : {
        linear-gradient(to top right, #af4101, #ff8010,#ffbc02);
    }
}
    /* HEADER */
header{
    width: 100%;
    height: 56.25vw;
    /* margin-left: 1.875rem; */
    /* height:25vh; */
    margin-bottom: 1.875rem;
}

#logo_header{
    width: 6rem;
    max-width: 70px;
    margin-left: 0.5rem;
}

h1{
    display: none;
    color: #ffffff;
}
    /* NAVE BARRE */
#nav_barre{
    width: 100%;
    height: 10vh;
    background:linear-gradient(rgba(0, 0, 0, 0.015),rgba(0, 0, 0, 0.15));
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    backdrop-filter: blur(1px);
}

header nav{
    margin-right: 1.875rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: relative;
    color: white;
}
#apear_nav{
    width: 130px;
    height: 40px;
    line-height: 40px;
    background-color: #ffffff69;
    color: black;
    text-align: center;
    font-size: 0.9rem;
    border-radius: 8px;
    transition: 1s;
    backdrop-filter: blur(3px);
}
#menu_déroulant{
    position: absolute;
    top: 40px;
}
header nav ul{
    list-style: none;
    margin: 0;
    margin-block-end: 0;
    margin-block-start: 0;
    padding: 0;
    text-align: center;

}
.apear_continent{
    display: none;
    margin:0;
    width: 130px;
    height: 30px;
    background-color: rgb(75, 75, 75);
}
.apear_continent:hover{
 color: #ffbc02;
}
header a{
    text-decoration: none;
    color: white;
}
header nav ul li{
    display: none;
    background-color: rgb(109, 109, 109);
    width: 130px;
    height: 25px;
    vertical-align: center;
}  
header nav ul li:hover{
    background-color: rgb(173, 173, 173);
   }  
   
nav:hover .apear_continent{
    display: block;
}

#continent_1:hover li{
    display: block;
}
#continent_2:hover li{
    display: block;
}
#continent_3:hover li{
    display: block;
}

header video{
    position: absolute;
    width: 100%;
    top: 0;
    left:0;
}
    /* MAIN */

#index_main  {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#index_main  h2{
    width: 90%;
    color: white;
    text-align: center;
    font-size: 1rem;
    padding: 1rem;
    max-width: 880px;
}
#index_main article{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    max-width: 880px;
}
#index_main article section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: .5rem;
}
#index_max_section{
    background: linear-gradient(315deg,#c9004d,#a309b7,#a309b700 80%);
    box-shadow: 10px 10px 15px 1px rgba(0, 0, 0, 0.301);
}
#index_yann_section{
    background: linear-gradient(45deg,#2b97df,#4EDEC5,#4EDEC500 80%);
    box-shadow: -10px 10px 15px 1px rgba(0, 0, 0, 0.301);
}
#index_johan_section{
    background: linear-gradient(315deg,#FF8010,#FFBC02,#FFBC0200 80%);
    box-shadow: 10px 10px 15px 1px rgba(0, 0, 0, 0.301);
}
#index_main article section img{
    justify-content: center;
    width: 50%;
    display: flex;
    flex-direction: row;
   
}
#index_main article h3,p{
    margin-left: 1rem;
    margin-top: 0.5rem;

}

#index_main article p{
    width: 90%;
    text-align: auto;
    /* text-justify: inter-character; */
    /* line-break: strict; */
    /* white-space: pre-wrap;
    hyphens: auto; */
    /* word-break: break-all; */
    margin-top: 0;
}
#index_main article div{
    display: flex;
    flex-direction: column;
    align-self: start;
}
/* MAP WORLD */
#index_main svg{
    margin-bottom: 10%;
    width: 66%;
}
.st0{fill:#7C7C7C;}
.st1{fill:#FFB000;}
.st2{fill:#4EDEC5;}
.st3{fill:#C100BA;}
.st4{fill:#ECECEC;stroke:#000000;stroke-width:0.2;stroke-linecap:round;stroke-linejoin:round;}
.st5{fill:none;stroke:#FFB000;stroke-width:3;stroke-miterlimit:10;}
.st6{fill:none;stroke:#4EDEC5;stroke-width:3;stroke-miterlimit:10;}
.st7{fill:none;stroke:#C100BA;stroke-width:3;stroke-miterlimit:10;}

#hoverjohan{
    filter: blur(5px);
    opacity: 0;
    transition: 0.5s;
}

#pays_johan:hover ~ #hoverjohan{
    opacity: 1;
    filter: blur(0px);
}
#hoveryann{
    filter: blur(5px);
    opacity: 0;
    transition: 0.5s;
}
#pays_yann:hover ~ #hoveryann{
    opacity: 1;
    filter: blur(0px);
}
#hovermax{
    filter: blur(5px);
    opacity: 0;
    transition: 0.5s;
}
#pays_max:hover ~ #hovermax{
    opacity: 1;
    filter: blur(0px);
}

        /* FOOTER */
#index_footer{
    width: 100%;
    background-color: white;
    position: relative;
    color: #383838;
    padding-bottom: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#index_footer img{
    width: 100vw;
    position: absolute;
    bottom: -15px;
    left: 0;
    z-index: -1;
}
#index_footer article{
    display: flex;
    flex-direction: row;
    height: 70px;
} 
.footer_nav{
    height: 5.625rem;

}
#index_footer article div{
    height: 70%;
    align-self: center;
    width: 1px;
    background-color: #383838;
    margin-left: .9375rem;
}
.footer_nav a{
    color: turquoise;
    text-decoration: none;
    font-size: 0.5rem;
}
#nav_Contact i{
    color: rgb(102, 102, 102) ;
    margin: .9375rem;
}

    /* TO TABLETTE */

@media (min-width: 600px){
    h1{
        display: block;
        ;
    }
    #index_main article {
        width: 90%;
        margin-top: 90px;;
    }
    #index_main article section{
        display: flex;
        flex-direction: row;
    }
    .index_art section img {
        width: 40%;
        max-height: 120%;
        justify-self: flex-start;
        align-self: flex-start;
        position: absolute;
        margin:0;
        bottom: 2rem;
        left: 0;
        z-index: 1;
    }
    .index_art section div{
        width: 100%;
        margin-left: 40%;
    }
    #index_main article h3{
        text-align: center;
    }
    #index_main article p{
        text-align: justify;
    }
    #index_art_revers section img{
        width: 40%;
        max-height: 120%;
        justify-self: flex-start;
        align-self: flex-start;
        position: absolute;
        margin:0;
        bottom: 2rem;
        right: 0;
        z-index: 1;

    }
    #index_art_revers section div{
        margin-right: 40%;
    }
   
    #index_main svg{
        margin-top: -70px;
    }
}