@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,600;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Old+Mincho:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;1,300;1,500&family=Zen+Old+Mincho:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    list-style: none;
    overflow-x: hidden; 
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;     
}
 
 /* HEADER */

 header{
    width: 100%;
    height: 1000px;
    margin-bottom: 1.875rem;
    background-image: url(../image/bangkok.jpg);
    background-size: cover;
    background-position: center;
}

#logo_header{
    width: 6rem;
    margin-left: 0.5rem;
}

    /* NAVE BARRE */
#nav_barre{
    width: 100%;
    height: 10vh;
    background:linear-gradient(rgba(0, 0, 0, 0.015),rgba(0, 0, 0, 0.15));
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    backdrop-filter: blur(1px);
}

header nav{
    margin-right: 1.875rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: relative;
    color: white;
}
#apear_nav{
    width: 130px;
    height: 40px;
    line-height: 40px;
    background-image: linear-gradient(to top right, #af4101, #ff8010,#ffbc02);
    text-align: center;
    font-size: 0.9rem;
    border-radius: 8px;
    transition: 1s;
}
#menu_déroulant{
    position: absolute;
    top: 40px;
}
header nav ul{
    list-style: none;
    margin: 0;
    margin-block-end: 0;
    margin-block-start: 0;
    padding: 0;
    text-align: center;

}
.apear_continent{
    display: none;
    margin:0;
    width: 130px;
    height: 30px;
    background-color: rgb(75, 75, 75);
}
.apear_continent:hover{
 color: #ffbc02;
}

header nav ul li{
    display: none;
    background-color: rgb(109, 109, 109);
    width: 130px;
    height: 25px;
    vertical-align: center;
}  
header nav ul li:hover{
    background-color: rgb(75, 75, 75);
   }  
   
nav:hover .apear_continent{
    display: block;
}

#continent_1:hover li{
    display: block;
}
#continent_2:hover li{
    display: block;
}
#continent_3:hover li{
    display: block;
}

/*MAIN*/

main {
    padding: 18px;
    background-color: #85CADA;
}

.img_titre {
    text-align: center;
    text-transform: uppercase;
}

.img_titre h2{
    font-size: 40px;
    font-weight: 700;
    font-family: "Libre Baskerville", sans-serif;   
}

.img_titre h3{
    margin-top: -3px;
    font-size: 20px;
    font-weight: 400;
}

.img_titre video {    
    position: flex;
    justify-content: center;
    width: 90px;
    height: 100%;       
}

.img_titre p {
    margin-bottom: 50px;
    font-size: 15px;
    font-weight: 300;
    font-family: "Monserrat", sans-serif;
    margin-top: 30px;
}

.article_thailande {
    padding: 20px;
    margin: 20px;
    background-color: beige;
}

.table_matiere h2 {
    text-align: center;
    margin-top: 4%; 
    font-family: "Libre Baskerville", sans-serif;
    font-weight: 400;
    font-size: 40px;
    letter-spacing: 5px;
}

.table_matiere ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 23px;

}

.table_matiere h2 {
    margin-top: 38px;
}

.table_matiere li {
    margin-bottom: 18px;
    font-family: "Cormorant Garamond", sans-serif;
    font-size: 38px;
    font-weight: 400;
    margin-right: 50px;
    margin-left: 50px;
}

/*.map_thailande h2{
    margin-bottom: -7px;
    font-family: "Libre Baskerville", sans-serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 3px;
}

*/

.phi_phi_islands_img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.titre_article_v2 h2{
    margin-bottom: 2px;;
    font-size: 15px;
    font-weight: 100;
    letter-spacing: 3px;
    text-align: center;
    font-family: "Libre Baskerville", sans-serif;
    font-weight: 400;
    font-size: 40px;
    letter-spacing: 5px;
}

.titre_article_v2 p {
 
    margin-top: 4%; 
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 2px
}

.map_thailand {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}


.wat_pho_img {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.titre_article_v2 h6 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    font-weight: 400;
}


.titre 


